.hero{
    background:  url(../../assets/images/hero.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    max-width: 800px;

}
.hero-text h1{
    font-size: 60px;
    font-weight: 800;
}
.hero-text p{
   max-width: 700px;
   margin: 10px auto 20px;
    line-height: 1.6;
}